[submodule "assets/www/MobileFrontend"]
	path = assets/www/MobileFrontend
	url = https://gerrit.wikimedia.org/r/p/mediawiki/extensions/MobileFrontend.git
[submodule "assets/www/jquery.ime"]
	path = assets/www/jquery.ime
	url = https://github.com/wikimedia/jquery.ime.git
